<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.gacl.dao.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="me.gacl.domain.Employee" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="emp_id" property="empId" jdbcType="INTEGER" />
    <result column="emp_pwd" property="empPwd" jdbcType="VARCHAR" />
    <result column="emp_name" property="empName" jdbcType="VARCHAR" />
    <result column="emp_offid" property="empOffid" jdbcType="INTEGER" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, emp_id, emp_pwd, emp_name, emp_offid, memo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from employee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from employee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="me.gacl.domain.Employee" >
    insert into employee (id, emp_id, emp_pwd, 
      emp_name, emp_offid, memo
      )
    values (#{id,jdbcType=BIGINT}, #{empId,jdbcType=INTEGER}, #{empPwd,jdbcType=VARCHAR}, 
      #{empName,jdbcType=VARCHAR}, #{empOffid,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="me.gacl.domain.Employee" >
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="empPwd != null" >
        emp_pwd,
      </if>
      <if test="empName != null" >
        emp_name,
      </if>
      <if test="empOffid != null" >
        emp_offid,
      </if>
      <if test="memo != null" >
        memo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="empPwd != null" >
        #{empPwd,jdbcType=VARCHAR},
      </if>
      <if test="empName != null" >
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empOffid != null" >
        #{empOffid,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="me.gacl.domain.Employee" >
    update employee
    <set >
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="empPwd != null" >
        emp_pwd = #{empPwd,jdbcType=VARCHAR},
      </if>
      <if test="empName != null" >
        emp_name = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="empOffid != null" >
        emp_offid = #{empOffid,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="me.gacl.domain.Employee" >
    update employee
    set emp_id = #{empId,jdbcType=INTEGER},
      emp_pwd = #{empPwd,jdbcType=VARCHAR},
      emp_name = #{empName,jdbcType=VARCHAR},
      emp_offid = #{empOffid,jdbcType=INTEGER},
      memo = #{memo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>